<header class="row justify-content-between no-gutters mt-4">

  <div>

    <h1 routerLink="/">
      Title
    </h1>

  </div>

  <nav class="nav row justify-content-end align-items-center">

    <a class="nav-link" routerLink="user-data">
      User-data
    </a>

    <a class="nav-link" routerLink="access">
      Access
    </a>

  </nav>

</header>
<hr>
