<div class="d-flex flex-column align-items-center">

  <h2 class="mb-5">
    {{name}} {{surname}}'s Page
  </h2>

  <button class="btn btn-primary"
          *ngIf="!accessRequested"
          (click)="access()">
    Access
  </button>

  <div *ngIf="legalAge && accessRequested">

    <img src="/assets/img/no-access.jpg"
         class="img-fluid"
         width="500" height="500">

  </div>

  <div class="alert alert-danger"
       *ngIf="!legalAge && accessRequested">
    You must be at least 18 years old!
  </div>

</div>
