<div>

  <h2>
    User Data
  </h2>

  <div class="progress my-3">
    <div class="progress-bar bg-success"
         role="progressbar"
         [style.width]="progress"></div>
  </div>

  <form #userDataForm="ngForm"
        class="pt-3"
        (change)="updateProgress()"
        (submit)="saveData()">

    <div class="form-group">

      <label for="name">
        Name:
      </label>

      <input type="text" class="form-control"
             name="name"
             #name="ngModel"
             pattern="[A-Za-z]*"
             [(ngModel)]="userData.name"
             id="name" required />

      <div class="text-danger mt-2"
           *ngIf="name.errors?.pattern && name.dirty">
        Invalid character (only letters allowed)
      </div>

    </div>

    <div class="form-group">

      <label for="surname">
          Surname:
      </label>

      <input type="text" class="form-control"
             name="surname"
             #surname="ngModel"
             pattern="[A-Za-z]*"
             [(ngModel)]="userData.surname"
             id="surname" required />

      <div class="text-danger mt-2"
           *ngIf="surname.errors?.pattern && surname.dirty">
        Invalid character (only letters allowed)
      </div>

    </div>

    <div class="form-group">

      <label for="age">
        Age:
      </label>

      <input type="number"
             class="form-control"
             name="age"
             pattern="[\d]*"
             #age="ngModel"
             [(ngModel)]="userData.age"
             id="age" required />

      <div class="text-danger mt-2"
           *ngIf="age.errors?.pattern && age.dirty">
        Invalid character (only digits allowed)
      </div>

    </div>

    <div *ngIf="name.valid && surname.valid"
         class="my-3">
      Hello {{userData.name}} {{userData.surname}}
    </div>

    <button type="submit"
            [disabled]="userDataForm.invalid"
            [class.btn-success]="userDataForm.valid"
            class="btn">
      Save
    </button>

  </form>

</div>
